@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #000000;
  /* webkit-linear-gradient(bottom, #0250c5, #d43f8d) */
}
::selection{
  color: #fff;
  background: #3f98d4;
}
.container{
    /* transform: translate(-10%, -10%); */
    width: 350px;
    height: 100%;
    position: relative;
    /*max-width: 500px;
    */background: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 50px 50px 10px 65px;
    /*box-shadow:-1rem -1rem   .5rem rgba(rgb(228, 0, 0),.1);
    */border: 2px solid white;
}

.container:hover{
  border: 2px solid rgb(0, 217, 255);
}

.container header{
  color: #0084ff;
  font-size: 45px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 500%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  /* padding-left: 57px; */
  color: rgb(0, 183, 255);
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 340px;
  height: 50px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  color: #fff;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 2px solid rgb(0, 102, 255);
  border-radius: 7px;
  padding-left: 15px;
  font-size: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
form .page .field select{
  /* color: white; */
  width: 100%;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  background: #000;
  margin-top: -10px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  transition: 0.5s ease;
  border: 1px solid rgb(0, 68, 255);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
form .page .field button:hover{
  background: #0400ff;
  border: 1px solid white;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 1;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #fffcfc;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #003cff;
  background: #000000;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #353232;
}
.progress-bar .step .bullet.active:after{
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #00a2ff;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #ffffff;
}

@media(max-width: 450px) {
  .container{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  html{
      font-size: 50%;
  }
}